# Environments
.env
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
instance/
*.db
*.sqlite3

# Logs
logs/
*.log

# Google Credentials
credentials.json
token.json
client_secret_*.json

# IDEs
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
